---
- name: Release an IP in a CIDR block
  hosts: localhost
  become: false
  gather_facts: false
  tasks:
    - name: Get IP info
      kenmoini.phpipam.address_info:
        ip: "{{ ip_address }}"
        phpipam_url: "{{ phpipam_url }}"
        phpipam_app_id: "{{ phpipam_app_id }}"
        phpipam_app_code: "{{ phpipam_app_code }}"
        phpipam_skip_tls_verify: "{{ phpipam_skip_tls_verify }}"
      register: address_info

    - name: See IP info
      ansible.builtin.debug:
        var: address_info['address_info']['id']

#    - name: Release the IP address
#      kenmoini.phpipam.reserve_address:
#        subnet_id: "{{ subnet_info['subnet_info'][0]['id'] }}"
#        ip_id: "{{ address_info['something'] }}"
#        phpipam_url: "{{ phpipam_url }}"
#        phpipam_app_id: "{{ phpipam_app_id }}"
#        phpipam_app_code: "{{ phpipam_app_code }}"
#        phpipam_skip_tls_verify: "{{ phpipam_skip_tls_verify }}"