---
- name: Release an IP in a CIDR block
  hosts: localhost
  become: false
  gather_facts: false
  tasks:
    - name: Get IP info
      kenmoini.phpipam.address_info:
        ip: "{{ ip_address }}"
        phpipam_url: "{{ phpipam_url }}"
        phpipam_app_id: "{{ phpipam_app_id }}"
        phpipam_app_code: "{{ phpipam_app_code }}"
        phpipam_skip_tls_verify: "{{ phpipam_skip_tls_verify }}"
      register: address_info

    - name: See IP info
      ansible.builtin.debug:
        var: address_info['address_info'][0]['id']

    - name: Release the IP address
      kenmoini.phpipam.release_address:
        subnet_id: "{{ address_info['address_info'][0]['subnetId'] }}"
        ip_id: "{{ address_info['address_info'][0]['id'] }}"
        phpipam_url: "{{ phpipam_url }}"
        phpipam_app_id: "{{ phpipam_app_id }}"
        phpipam_app_code: "{{ phpipam_app_code }}"
        phpipam_skip_tls_verify: "{{ phpipam_skip_tls_verify }}"